body{
	font-family: Verdana, Tahoma, Arial, sans-serif;
	color: rgb(24, 1, 1);
	background: url('../about/about_bg_.jpg') 0 0 repeat;
	font-size: 16px;
    position: relative;
}
header{
    overflow: hidden;
    background-color: rgb(120, 160, 206);
    top: 0;
    width: 100%; 
    overflow: hidden;
    box-sizing: border-box;
}      
.container{
    padding: 25px 0 0;
    overflow: hidden;
    margin: 0 auto;
}
.main_title{
    margin: 0 auto;
}
.border-bottom{
    border-bottom: none !important
}
.fs-4{
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
}
.me-3{
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: bold;
}
.mb-4{
    margin-bottom: 0 !important;
}
.text-dark{
    color: #fff !important;
}
.nav_link:hover{
    color: #fff0;
    text-decoration: underline !important;
    color: #000;
}
.about_block{
    text-align: center; 
    margin-top: 20px;   
    padding-bottom: 30px ;
}
.about_title{
    font-size: 40px;
    text-transform: capitalize;
    padding: 15px;
}
.about_img{
    width: 450px;
    max-height: 300px;
}
.about_text{
    display: block;
    padding: 15px 0;
    text-align: justify;
 }
.form_block{
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.about_btn{
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    margin: 15px 10px 15px 105px;
    background: #060af390;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.create_block{
    margin-top: 100px;
    padding: 10px 0 150px;
}
.create_title{
    text-align: center;
}
.article_btn{
    display: block;
    margin: 0 auto;
}
.form-group{
    padding: 15px 0;
}
.upload_img{
    display: block;
    padding-bottom: 7px;
}
footer {
    text-align: center;
    padding: 70px 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(168, 161, 236);
}
.bg-light{
    background: rgb(176, 206, 241) !important;
    color: #fff !important;
}
/* POSTS BLOCK */
.articles{
    padding: 20px 0 1000px;
}
.publishes{
    border-top: 1px solid rgb(199, 120, 175);
    padding: 30px;
}
.blocks{
    box-sizing: border-box;
    color: black;
    font-size: 16px;
	background: url('about/about_bg_.jpg') 0 0 repeat;
}
.blocks a{
    text-decoration: none;
    color: black;
}
.publishes_title{
    text-align: center;
    font-size: 50px;
    color: rgb(247, 180, 180);
}
.publish_title_block{
    width: 50%;
    float: left;
    margin-right: 20px;
}
.main_title{
    text-align: center;
    padding: 20px;
}
.publish_date{
    width: 20%;
    float: right;
    text-align: right;
}
.publish_pic_block{
    text-align: center;
}
.publish_pic{
    max-width: 100%;
    max-height: 400px;
}
.short_description{
    padding: 20px 60px 20px 0;
}
.comment_counts{
    margin: 0 auto;
    width: 200px;
    display: block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 3px;
    background:rgb(184, 216, 252)
}
.pagination_block{
    padding: 20px;
    font-weight: bold;
    border-top: 1px solid rgb(199, 120, 175);    
}
.publishes:hover{
    background:rgb(176, 206, 241);
} 
.pag_nav{
    width: 450px;
    margin: 0 auto; 
}
.comment_block{
    position: relative;
}
.comment_title{
    text-align: center;
}
.comment_block label{
    text-transform: uppercase;
}
.comment_block input, textarea{
    padding: 10px;
    background:rgb(169, 207, 238);
}
.comment_block .about_btn{
    position: absolute;
    left: 45%;    
}
.comment_img{
    display: block;
    margin: 0 auto;
    padding: 15px 5px 40px;
}
.total_comments{
    display: block;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}
/* .alert-primary{
    width: 100%;
    height: 100%;
    z-index: 1;
    background:rgb(199, 120, 175) !important;
} */